@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 244, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 26, 32, 44;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  direction: rtl;
  font-family: __Cairo_0aa52e, __Cairo_Fallback_0aa52e;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
